<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="5" status="debug" strict="true" packages="id.co.nds.webapp.loggermask">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log-pattern}" />
        </Console>

        <File name="MyFile" fileName="${log-path}/application.log">
            <PatternLayout pattern="${log-pattern}" />
        </File>

        <RollingFile name="RollingFile" fileName="${log-path}/nds-gadai_2022_06_22-all.log" filePattern="${log-path}/nds-gadai_2022_06_22-all-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${log-pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB" />
            </Policies>
            <DefaultRolloverStrategy max="90" />
        </RollingFile>
        <RollingFile name="sch1RollingFile" fileName="${log-path}/nds-gadai_2022_06_22-sch1.log" filePattern="${log-path}/nds-gadai_2022_06_22-sch1-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${log-pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB" />
            </Policies>
            <DefaultRolloverStrategy max="90" />
        </RollingFile>
        <RollingFile name="sch2RollingFile" fileName="${log-path}/nds-gadai_2022_06_22-sch2.log" filePattern="${log-path}/nds-gadai_2022_06_22-sch2-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${log-pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB" />
            </Policies>
            <DefaultRolloverStrategy max="90" />
        </RollingFile>
        <RollingFile name="sch3RollingFile" fileName="${log-path}/nds-gadai_2022_06_22-sch3.log" filePattern="${log-path}/nds-gadai_2022_06_22-sch3-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${log-pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB" />
            </Policies>
            <DefaultRolloverStrategy max="90" />
        </RollingFile>
        <RollingFile name="sch4RollingFile" fileName="${log-path}/nds-gadai_2022_06_22-sch4.log" filePattern="${log-path}/nds-gadai_2022_06_22-sch4-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${log-pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB" />
            </Policies>
            <DefaultRolloverStrategy max="90" />
        </RollingFile>
    </appenders>

    <loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
        <Logger name="id.co.nds.gadai_2022_06_22.schedulers.FixedRateScheduler" level="debug">
            <AppenderRef ref="sch1RollingFile" />
        </Logger>
        <Logger name="id.co.nds.gadai_2022_06_22.schedulers.FixedDelayScheduler" level="debug">
            <AppenderRef ref="sch2RollingFile" />
        </Logger>
        <Logger name="id.co.nds.gadai_2022_06_22.schedulers.CronScheduler" level="debug">
            <AppenderRef ref="sch3RollingFile" />
        </Logger>
        <Logger name="id.co.nds.gadai_2022_06_22.schedulers.DbParamScheduler" level="debug">
            <AppenderRef ref="sch4RollingFile" />
        </Logger>
    </loggers>


</configuration>